<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automobile Test Suite" parallel="classes" thread-count="3">
    <test name="Automobile Tests">
        <packages>
            <package name="com.tricentis.tests.automobile.*"/>
        </packages>
    </test>
</suite> 